
/* ------------------------------------------------ */
/* FONT COLOR:
/* 1. #333   2. 555
  orange color: #e67e22
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.icon-small {
    display: inline-block;
    color: #e67e22;
}

.app-screen {
    width: 40%;
}

/* ----- HEADINGS ----- */
h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 30px;
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

/* ------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-header.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
}

.main-nav {
    list-style: none;
    float: right;
    margin: 30px 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.user-info-box {
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.avatar {
    height: 80px;
    width: auto;
    border-radius: 40px;
    border: 1px solid #b05d14;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

.name {
    margin-top: 30px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 120%;
    text-transform: uppercase;
}

.bio {
    color: #dedede;
    font-size: 90%;
}

/* ------------------------------------------------ */
/* APPS */
/* ------------------------------------------------ */

.section-apps {
    background-color: #f2f2f2;
}

.app-box {
    background-color: #fff;
    border-radius: 10px;
}

.app-cover {
    width: 100%;
    height: auto;
}

.app-description {
    margin: 10px 16px;
    font-weight: 400;
    color: #333;
}

.app-info {
    position: relative;
}

.app-icon {
    height: 50px;
    width: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 10px 0 10px 14px;
}

.app-name {
    position: absolute;
    left: 75px;
    top: 12px;
    font-size: 90%;
    color: #333;
    font-weight: 300;
}

.app-detail {
    position: absolute;
    left: 75px;
    top: 32px;
    font-size: 70%;
}

.app-info .btn {
    display: inline-block;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    float: right;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 18px;
    text-transform: uppercase;
    font-size: 60%;
    margin-top: 18px;
    margin-right: 10px;
}

















